.bg-contact {
  background-color: #3E3D3B !important; }

.bg-footer {
  background-color: #000000 !important; }

.bg-blue-green {
  background-color: #40DDA6 !important; }

.bg-orange-gold {
  background-color: #F4B96A !important; }

.bg-red-blood {
  background-color: #BF2828 !important; }

.bg-blue-indigo {
  background-color: #286EBF !important; }

.bg-gray-green {
  background-color: #ACB9AB !important; }

.bd-blue-green {
  border-color: #40DDA6 !important; }

.bd-orange-gold {
  border-color: #F4B96A !important; }

.bd-red-blood {
  border-color: #BF2828 !important; }

.bd-blue-indigo {
  border-color: #286EBF !important; }

.bd-gray-green {
  border-color: #ACB9AB !important; }

.txt-gray {
  color: #FFF7F7; }

.txt-footer {
  color: #707070; }
