@import url("https://fonts.googleapis.com/css?family=Athiti");
.landing-page {
  height: 500px; }
  .landing-page .landing-head {
    padding-top: 120px; }

.service {
  background-color: red;
  opacity: 0.5;
  height: 500px; }

@media (max-width: 575.98px) {
  .landing-page {
    height: 500px; }
    .landing-page .landing-head {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center; } }
