@import url("https://fonts.googleapis.com/css?family=Athiti");
.bg-contact {
  background-color: #3E3D3B !important; }

.bg-footer {
  background-color: #000000 !important; }

.bg-blue-green {
  background-color: #40DDA6 !important; }

.bg-orange-gold {
  background-color: #F4B96A !important; }

.bg-red-blood {
  background-color: #BF2828 !important; }

.bg-blue-indigo {
  background-color: #286EBF !important; }

.bg-gray-green {
  background-color: #ACB9AB !important; }

.bd-blue-green {
  border-color: #40DDA6 !important; }

.bd-orange-gold {
  border-color: #F4B96A !important; }

.bd-red-blood {
  border-color: #BF2828 !important; }

.bd-blue-indigo {
  border-color: #286EBF !important; }

.bd-gray-green {
  border-color: #ACB9AB !important; }

.txt-gray {
  color: #FFF7F7; }

.txt-footer {
  color: #707070; }

.hr {
  max-width: 15rem;
  padding: 0;
  text-align: center;
  border: none;
  border-top: solid 0.25rem;
  color: #43ACB6; }

.underline {
  height: 3px;
  background: #43ACB6; }

.nav-font {
  font-size: 1.3rem; }

.bg-cover {
  position: relative;
  height: 300px; }
  .bg-cover .bg-cover-text {
    position: absolute;
    opacity: .9;
    bottom: 0; }

.pipe .pipe-head {
  top: -19px; }

.bg-service {
  background-color: purple !important; }

body {
  font-family: "Athiti", sans-serif; }

.navbar-light .navbar-nav .active > .nav-link {
  color: #43ACB6; }

.navbar-light .navbar-nav .nav-link:hover {
  color: #43ACB6; }

.btn-round {
  border-radius: 10px; }

.nav-icon {
  width: 110px; }

.landing-page .landing-head {
  padding-top: 120px; }

.service {
  opacity: 0.5; }
  .service .service h1 {
    width: 200px; }
  .service .img-circle {
    width: 130px;
    height: 130px; }

@media (max-width: 575.98px) {
  .landing-page .landing-head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; }
  .service .img-circle {
    width: 100px;
    height: 100px; } }
