@import '_variable.scss';

.bg-contact {
  background-color: $bg_contact !important;
}

.bg-footer {
  background-color: $bg_footer !important;
}

.bg-blue {
  background-color: $bg_blue !important;
}

.bg-yellow {
  background-color: $bg_yellow !important;
}

.bd-yellow {
  border-color: $bg_yellow !important;
}

.bd-blue {
  border-color: $bg_blue !important;
}

.txt-gray {
  color: $txt_gray;
}

.txt-footer {
  color: $txt_footer;
}

.hr {
  max-width: 15rem;
  padding: 0;
  text-align: center;
  border: none;
  border-top: solid 0.25rem;
  color: $blue_light;
}

.underline {
  height: 3px;
  background: $blue_light;
}

.nav-font {
  font-size: 1.3rem;
}

.landing-about {
  background-image: url('../images/about/about_banner.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-landing {
  height: 400px;
}

.bg-main {
  background-image: url('../images/main/banner.png');
  background-size: cover;
  background-repeat: no-repeat;  
}

.landing-main-service {
  background-image: url('../images/main/bg1.png');
  background-size: cover;
  background-repeat: no-repeat; 
}

.landing-main-port {
  background-image: url('../images/main/bg2.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.landing-contact {
  background-image: url('../images/contact/contact_banner.png');
  background-size: cover;
  background-repeat: no-repeat; 
}

.landing-portfolio {
  background-image: url('../images/portfolio/portfolio_banner.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.landing-service {
  background-image: url('../images/service/service_banner.png');
  background-size: cover;
  background-repeat: no-repeat; 
}