.bg-cover {
  position: relative;
  height: 450px;

  .bg-cover-text {
    position: absolute;
    opacity: .9;
    bottom: 0;
  }
  .bg-cover-detail {
    display: flex;
    position: absolute;
    opacity: .9;
  }
}


.pipe {
  .pipe-head {
    top: -19px;
  }
}