@import url("https://fonts.googleapis.com/css?family=Athiti");

// $font-family-sans-serif: "Athiti", sans-serif;

// helper
hr {
  max-width: 15rem;
  padding: 0;
  text-align: center;
  border: none;
  border-top: solid 0.25rem;
  color: lightseagreen;
}

// override
body {
  font-family: "Athiti", sans-serif;
}

.landing-page {
  .landing-head {
    padding-top: 120px;
  }
}

.service {
  opacity: 0.5;

  .service h1 {
    width: 200px;
  }

  .img-circle {
    width: 130px;
    height: 130px;
  }
}

.portfolio {
}

.showcase {
}

@media (max-width: 575.98px) {
  .landing-page {
    .landing-head {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }

  .service {
    .img-circle {
      width: 100px;
      height: 100px;
    }
  }

  .portfolio {
  }
}
