@import url("https://fonts.googleapis.com/css?family=Athiti");
@import 'portfolio.scss';

$blue-light: #43ACB6;

// override
body {
  font-family: "Athiti", sans-serif;
}

.navbar-light .navbar-nav .active > .nav-link {
  color: $blue-light;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: $blue-light;
}

// helper
.hr {
  max-width: 15rem;
  padding: 0;
  text-align: center;
  border: none;
  border-top: solid 0.25rem;
  color: $blue-light;
}

.underline {
  height: 3px;
  background: $blue-light;
}

// custom
.btn-round {
  border-radius: 10px;
}

.nav-icon {
  width: 110px;
}

.text-gray {
  color: #FFF7F7;
}

//scss
.landing-page {
  .landing-head {
    padding-top: 120px;

  }
}

.service {
  opacity: 0.5;

  .service h1 {
    width: 200px;
  }

  .img-circle {
    width: 130px;
    height: 130px;
  }
}

// media
@media (max-width: 575.98px) {
  .landing-page {
    .landing-head {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }

  .service {
    .img-circle {
      width: 100px;
      height: 100px;
    }
  }
}
